<a href="/Finanzas/RegistroCuentaI">Crear cuenta</a>

<table class="table table-dark">

    <tr>

        
        <th>Nombre</th>
        <th>Categoria</th>

        <th>SaldoTotal</th>

        <th>SaldoInicial</th>

        <th>Moneda</th>
        
        <th>Ver detalle</th>
        
      


    </tr>
    @foreach (var item1 in ViewBag.listaDeCuentas)
    {
        <tr>

            <td>@item1.Nombre</td>
            <td>@item1.Categoria</td>

            

            <td>@item1.SaldoTotal</td>
            @if (item1.Categoria == "Propia")
            {
                <td>Debito</td>
            }
            else
            {
                <td>@item1.SaldoInicial</td>
            }
            <td>@item1.Moneda</td>
   
            <td><a href="/Finanzas/DetalleCuenta?IdCuenta=@item1.Id">Detalle</a></td>
        </tr>
    }
</table>